In [28]:
from sqlalchemy import create_engine
import pandas as pd

<dialect>+<driver>://<username>:<password>@<host>:<port>/<database>?charset=<charset_type>

### for Cloud SQL

# サービスアカウントのPATHを設定(GOOGLE_APPLICATION_CREDENTIALSが自動で読み込まれる)
export GOOGLE_APPLICATION_CREDENTIALS="/Users/sh-tatsuno/.ssh/gcp/service_account.json”

# cloud_sql_proxyを利用： ローカルのmysqlをマウントする
curl -o cloud_sql_proxy https://dl.google.com/cloudsql/cloud_sql_proxy.darwin.amd64
chmod +x cloud_sql_proxy

# proxyの立ち上げ→ローカルポートにマウント
./cloud_sql_proxy -instances=aaa:bbb:ccc=tcp:3306

Error during createEphemeral for myproj-193510:us-central1:sample-sql: googleapi: Error 403: Access Not Configured. Cloud SQL Administration API has not been used in project...
-> APIを許可する必要がある

### usage

In [16]:
# config
dialect = 'mysql'
driver = 'pymysql'
username = 'test'
password = 'sqltest'
host = 'localhost'
port = '3306'
database = 'holmes'
charset_type = 'utf8'

In [21]:
eng = dialect + '+' + driver + '://' + username + ':' + password + '@'  \
    + host + ':' + port + '/' + database + '?charset=' + charset_type

In [39]:
eng

'mysql+pymysql://test:sqltest@localhost:3306/holmes?charset=utf8'

In [22]:
# connect
engine = create_engine(eng)

In [24]:
engine.execute('CREATE TABLE zoo (critter VARCHAR(20) PRIMARY KEY, count INT, damages FLOAT)')

In [25]:
ins = "INSERT INTO zoo (critter, count, damages) VALUES (%s, %s, %s)"
engine.execute(ins, "あひる", 10, 0.0)
engine.execute(ins, "くま", 2, 1000.0)
engine.execute(ins, "いたち", 1, 2000.0)

In [30]:
sql = 'SELECT * FROM zoo'

In [31]:
rows = engine.execute(sql)

In [32]:
for row in rows:
    print(row)

('あひる', 10, 0.0)
('いたち', 1, 2000.0)
('くま', 2, 1000.0)

### manipurate by pandas

In [33]:
df_read = pd.read_sql(sql, engine)

In [34]:
df_read

  critter  count  damages
0     あひる     10      0.0
1     いたち      1   2000.0
2      くま      2   1000.0

In [37]:
df_read.to_sql('new_one', engine, index=False, if_exists='replace')